.large {
    height: 100px;
    color: transparent;
}

.medium {
    height: 50px;
    color: transparent;
}

.small {
    height: 10px;
    color: transparent;
}

.feh2 {
    font-weight: bolder;
    font-family: Playfair Display;
    color: white;
}

.feh3 {
    color: #699CA7;
    font-weight: 400;
}

.feh5 {
    font-weight: 400;
    color: #699CA7;
}

.hover {
    font-weight: 500;
    font-family: Montserrat;
    color: #1F2F33;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #BD4E07;
}

a:hover .hover {
    color: #BD4E07;
}

.language {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.phone {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.dcenter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.searchy {
    height: 100%;
    max-height: 2.5rem;
}

.margarine {
    padding-left: 3rem;
    padding-right: 3rem;
}

.heroimg {
    width: 100%;
    height: 50rem;
}

.transbtn {
    transform: translateY(-2px);
}

.custom-btn {
    background-color: #1F2F33;
    color: white;
}

.tcenter {
    text-align: center;
}

.icenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centeralign {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.tempasis {
    font-weight: bolder;
    font-style: initial;
}

.decor {
    height: 2px;
    background-color: #1E1E1E;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.enddecor {
    background-color: #F8F8F4;
}

.topbar {
    background-color: #EBEBEB;
    width: 100%;
}

.itembar {
    background-color: #314A4F;
}

.rounded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #F8F8F4;
}

.edgingleft {
    border-radius: 20px 0px 0px 20px;
}

.edgingright {
    border-radius: 0px 20px 20px 0px;
}

.edgingall {
    border-radius: 20px 20px 20px 20px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.iconsbox {
    display: flex;
    justify-content: space-between;
    max-width: 7rem;
    padding-bottom: 2rem;
}

.iconspacing {
    margin-right: .5rem;
}

footer {
    padding-top: 2rem;
}

body {
    overflow-x: hidden;
}

.carousel img {
    width: 303px;
    min-width: 303px;
    max-height: 256px;
}

.carousel .card {
    width: 303px;
    min-width: 303px;
    height: 379px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f8f8f4;
}

.carousel .card .card-body {
    min-height: 379px;
    margin: 0;
    border: 0;
    padding: 0;
}

.card-text {
    margin: .7em;
}

.carousel-control-prev {
    transform: translateX(-80%);
}

.carousel-control-next {
    transform: translateX(80%);
}

.carousel-control-prev-icon {
    filter: invert(100%);
    z-index: 100;
}

.carousel-control-next-icon {
    filter: invert(100%);
    z-index: 100;
}